.testimonios__paragraph{
    color: white;
    font-style: italic;
}
.testimonios__image{
    border: 2px solid white;
    width: 4vw; 
    height: 4vw;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.testimonios__name{
    color: white;
}
.testimonios__title{
    color: white;
    font-size: 25pt;
}
