body{
    background-color: #212529;
    font-family: "Open Sans", sans-serif;
}
.testimonios__paragraph{
    color: white;
    font-style: italic;
}
.testimonios__image{
    border: 2px solid white;
    width: 2vw;
    height: 2vw;
}
.testimonios__name{
    color: white;
}
.testimonios__title{
    color: white;
    font-size: 25pt;
}
