.testimonios__paragraph{
    color: white;
    font-style: italic;
}
.testimonios__image1{
    border: 2px solid white;
    width: 100px !important; 
    height: 100px !important;
    background-image: url(../../assets/img/testimonio1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.testimonios__name{
    color: white;
}
.testimonios__title{
    color: white;
    font-size: 25pt;
}
