.testiomonies__paragraph{
    color: #e8d44d;
    font-style: italic;
}
.testimonies__image{
    border: 2px solid white;
    width: 4vw;
    height: 4vw;
}
.testimonies__name{
    color: #e8d44d;
}
.testimonies__title{
    color: white;
    font-size: 25pt;
}
